<header class="navbar">
  <div class="navbar-container">
    <a href="home" class="nav-link">
    <div class="navbar-brand">
      <div class="navbar-logo">
        <span>🦷</span>
      </div>
      <h1 class="navbar-title">Sonrisas Felices</h1>
    </div>
    </a>
    
    <nav class="navbar-nav">
      <a href="home" class="nav-link">Inicio</a>
      <a href="nosotros" class="nav-link">Nosotros</a>
      <a href="citas" class="nav-link">Citas</a>

      <a *ngIf="isAuthenticated$ | async" (click)="logout()" class="nav-link logout-btn">
        Cerrar Sesión 
      </a>
    </nav>

  </div>
</header>